#addModule {
    background-color: steelblue;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

#addLesson {
    background-color: steelblue;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

#addTopic {
    background-color: steelblue;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

#arrowBtnUp {
    background-color: gold;
    width: 40px;
    height: 40px;
    margin-left: 170px;
}

#arrowBtnDown {
    background-color: gold;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

#closeBtn {
    background-color: red;
    width: 40px;
    height: 40px;
}

h1 {
    background-color: DimGray;
    padding: 50px;
    color: white;
}

h3 {
    margin-bottom: 10px;
}

h6 {
    padding: 10px;
}

#imageURLFld{
    margin-top: 20px;
    margin-bottom: 20px;
}

#previewText {
    margin-top: 20px;
    margin-bottom: 20px;
}

#widgetNameFld {
    margin-top: 20px;
    margin-bottom: 20px;
}

#paraTextFld {
    resize: vertical;
}

#listTextFld {
    margin-top: 20px;
    margin-bottom: 20px;
}

#linkTextFld {
    margin-top: 20px;
    margin-bottom: 20px;
}

#headingSize {
    margin-top: 20px;
    margin-bottom: 20px;
}

#headingSizeSel {
    margin-top: 20px;
    margin-bottom: 20px;
}

#listTypeSel {
    margin-top: 20px;
    margin-bottom: 20px;
}

#widgetComponent {
    border: 5px solid black;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#module {
    background-color: Gray;
    margin: 5px;
    color: white;
    border: 2px solid black;
}

#modules {
    background-color: DimGray;
}

#lesson {
    background-color: Gray;
    margin: 5px;
    color: white;
    border: 2px solid black;
}

#lessons {
    background-color: DimGray;
}

#topics {
    background-color: white;
}

#topic {
    background-color: Gray;
    margin: 20px;
    color: white;
    border: 2px solid black;
}

#saveBtn {
    margin: 20px;
}

#previewBtn {
    padding-top: 5px;
    margin: 20px;
}

#lessonBtns {
    margin: 20px;
}

#topicBtns {
    margin: 20px;
}

#tableBtn {
    margin-right: 10px;
}

#addWidgetBtn {
    background-color: steelblue;
}

#courseEditor {
    padding-top: 40px;
    background-color: DimGray;

}

#widgetListAll {
    background-color: white;
}

#editCourseTitleFld {

}

#courseEditBtn {
    margin-top: 5px;
}

#courseTable {

}