
@media (min-width: 1199px) {
    .card-columns {
        column-count: 6;
    }
}

@media (max-width: 991px) {
    .card-columns {
        column-count: 3;
    }
}

@media (max-width: 767px) {
    .card-columns {
        column-count: 1;
    }
}
